@model practiceProject.Models.User

<!DOCTYPE HTML>
<!--
    Full Motion by TEMPLATED
    templated.co @@templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Full Motion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css" />

</head>
<body id="top">
    <div id="main" style="text-align:center">
        <div class="inner" style="margin:0 auto">
            @if (TempData["message"] != null)
            {
                <script type="text/javascript">
                    var message = @Html.Raw(Json.Encode(TempData["message"]));
                    alert(message);
                </script>
            }


            @using (Html.BeginForm("Login", "Default", FormMethod.Post))
            {
                <p><h3>使用者名稱：</h3><input type="text" name="user_Name" style="width:700px;margin:0 auto;text-align:center"></p>
                <p><h3>密碼：</h3><input type="text" name="user_Password" style="width:700px;margin:0 auto;text-align:center"></p>
                <p><button type="submit" name="submit">登入</button>&nbsp;&nbsp;&nbsp;@Html.ActionLink("註冊", "Registered")</p>
            }

        </div>
    </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h2>Etiam veroeros lorem</h2>
                    <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
                </div>
            </footer>

            <!-- Scripts -->
            <script src="~/Scripts/jquery.min.js"></script>
            <script src="~/Scripts/jquery.scrolly.min.js"></script>
            <script src="~/Scripts/jquery.poptrox.min.js"></script>
            <script src="~/Scripts/skel.min.js"></script>
            <script src="~/Scripts/util.js"></script>
            <script src="~/Scripts/main.js"></script>

</body>
</html>